body
{
	background: #C9DEFF;
}

#toDoForm
{
	position: absolute;
	left: 10px;
	top: 10px;
}

#toDoButton
{
	position: relative;
	left: 160px;
	top: 2px;
}

#toDoList
{
	
}

#toDoList li
{
	position: relative;
	top: 10px;
}
