body
{
	background: #839FCB;
}

#toDoForm
{
	position: relative;
	left: 0px;
	top: 0px;
}

#toDoButton
{
	position: relative;
	left: 0px;
	top: 0px;
}

#toDoList
{
	position: relative;
	left: 0px;
	top: 0px;
}

#toDoList li
{
	position: relative;
	left: 0px;
	top: 0px;
}
